monoplatformSampleApplication/Node-RED-sample/Simple_payload _extraction.json
[
    {
        "id": "d5dce5238f7b9e0b",
        "type": "websocket in",
        "z": "e7946f121363d6cf",
        "name": "接続テスト",
        "server": "1b8204c6179f85ac",
        "client": "",
        "x": 240,
        "y": 960,
        "wires": [
            [
                "c840c59fe195d748"
            ]
        ]
    },
    {
        "id": "c840c59fe195d748",
        "type": "json",
        "z": "e7946f121363d6cf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 960,
        "wires": [
            [
                "71fc4b4d99774a3a"
            ]
        ]
    },
    {
        "id": "71fc4b4d99774a3a",
        "type": "switch",
        "z": "e7946f121363d6cf",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "keepalive",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "keepalive",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 960,
        "wires": [
            [],
            [
                "58e7260eb18ed202"
            ]
        ]
    },
    {
        "id": "58e7260eb18ed202",
        "type": "function",
        "z": "e7946f121363d6cf",
        "name": "ペイロードを抽出",
        "func": "/* msg.payload.payload[0].value */\n\nlet payload = msg.payload.payload;\nlet value;\nfor (let i = 0; i < payload.length; i++) {\n  value = payload[i].value;\n}\n\nmsg.payload = {\n    value\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 980,
        "wires": [
            [
                "e8180840912833e7"
            ]
        ]
    },
    {
        "id": "e8180840912833e7",
        "type": "debug",
        "z": "e7946f121363d6cf",
        "name": "payloadの確認",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 980,
        "wires": []
    },
    {
        "id": "0444447c7937a590",
        "type": "comment",
        "z": "e7946f121363d6cf",
        "name": "単純にpayloadを読みだす",
        "info": "",
        "x": 270,
        "y": 880,
        "wires": []
    },
    {
        "id": "c5d2b76c37a1a64d",
        "type": "comment",
        "z": "e7946f121363d6cf",
        "name": "keepaliveを無視する",
        "info": "",
        "x": 710,
        "y": 880,
        "wires": []
    },
    {
        "id": "1b8204c6179f85ac",
        "type": "websocket-listener",
        "path": "",
        "wholemsg": "false"
    }
]